.army-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;  
}

.army-gallery img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.army-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}