.form-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    box-shadow:  0 0 2em rgba(0, 0, 0, 0.738);
}

#submit-army {
    width: 20%;
    padding: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}